@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK:400,700,900&display=swap');

body {
    color: var(--purple);
}

p {
    color: var(--grey);
}

.container {
    z-index: 1;
}

h1 {
    font-size: 38px;
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 900;
}

h2 {
    font-size: 24px;
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 400;
}

.row {
    z-index:1;
}



/* Sectiions */

/* first Section */
#first {
    position: relative;
    display:block;
    height:700px;
    background-image: url(/assets/img/section1-house.jpg);
    background-size: cover;
    background-color: var(--purple);
    color:white;
}

/* House Logo*/
.house-bottom {
    background-color: var(--pink);
    width:30px;
    height:25px;
}
.house-top {
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--pink);
}

.overlay-purple{
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  position: absolute;
  z-index:0;
  background-color: rgba(57,0,60,0.85);
}

#logo a{ 
    color: var(--green);
    font-size:35px;
    font-weight: 900;
    font-family: 'Noto Sans HK', sans-serif;
    margin-left:10px;
    letter-spacing: -0.1rem;
}

nav#main-nav a{
    color:white;
    font-weight: bold;
    font-size:1rem;
}

#first h1 {
    font-size:72px;
    color: var(--green); 
    padding-top: 140px;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

#search{
    max-width:680px;
    min-width:320px;
    color: white;
}

#search form {
    width:100%;
    border-bottom: 1px solid var(--green);
}

#search input {
    background: none;
    color:white;
    border:none;
    width:90%;
}

#search input::placeholder {
    color:white;
    font-size:1.7rem;
    word-spacing: 5px;
}

#search button {
    background: none;
    border:none;
    font-size:2rem;
}


/* Second Section*/
#second {
    background-color: var(--green);
    color: var(--purple);
}

.card {
    border:0px;
    border-radius:0;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .4);
    width:350px;
}

.card-image {
    position: relative;
    display:block;
}

.tags {
    position: absolute;
    bottom:0px;
    display: flex;
}

.tag-sale, .tag-price {
    padding:10px 20px;
    color:var(--yellow);
    text-transform: uppercase;
    font-weight: bold;
}

.tag-info {
    float:left;
    padding-right: 20px;
}

.tag-info i {
    padding-right: 5px;
}

.card-bottom {
    padding:25px 0px 30px 0px;
}

.tag-info-bottom {
    display: inline-block;
    text-align: center;
    font-size: 35px;
    padding:0px 25px;
}

.tag-info-bottom:first-child {
    border-right: 1px solid var(--purple);
}

.tag-info-bottom:last-child {
    border-left: 1px solid var(--purple);
}

.tag-info-bottom span {
    display:block;
    text-align: center;
    font-size:15px;
}


/* Section Three*/
#third {
    background-image: url(/assets/img/section3-interior.jpg);
    background-size: cover;
    color: var(--purple);
}

#featured-properties{
    background-color: rgba(255, 255, 255, 0.7);
    padding:50px 60px;
    box-shadow: 0px 0px 15px #000;
}

#featured-properties ul {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

/* Section Four*/
#four {
    color: var(--purple);
}

#four p {
    color: var(--grey);
}

#four .fa-coins {
    color: var(--green);
}

#four .fa-box-open {
    color: var(--light-blue);
}

#four .fa-camera {
    color:#ebff00;
}

#four .fa-handshake {
    color: var(--purple);
}

#four .fas {
    font-size: 64px;
    padding-bottom:30px;
}

.contact-agent {
    background-color: var(--light-grey)
}

.agent-thumb {
    width:70px;
    height:70px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid var(--pink);
}

.agent-thumb img {
    height:100%;
    width:auto;
}


/* Section Five*/

/* Section Six*/
#six {
    background: url(/assets/img/section6-box.png) right top no-repeat, url(/assets/img/section6-girl.jpg);
    background-size: content, cover;
}

#property-management {
    padding: 90px 35px 100px 35px;
}

#property-management ul{
    list-style: none;
}


/* Section Seven*/
#seven h1 {
    line-height: 40px;
}

.arrow-nav {
   float:right; 
   font-size:22px;
}

#seven .fas {
    color: var(--purple);
    margin:0 8px;
}
.image-holder {    
    width: 117px;
    height: 117px;
    overflow: hidden;
    border-radius: 50%;
    top: 50px;
    left: 20px;
    position: relative;
}

.image-holder img{
    height: 117px;
    overflow: hidden;
    
    
}
.comments-card {
    width:50%;
}
.comment-field::before {
    content: "";
    display: block;
    width: 70px;
    height: 50px;
    position: absolute;
    top: 0px;
    left:-50px;
    background: radial-gradient(circle at bottom left, transparent 50px, #fff 0);
    border-radius: 0px 0px 0px 20px;
}

.comment-field {
    font-size: 1.2rem;
    margin: 0 auto 40px;
    max-width: 400px;
    max-height:100%;
    padding: 15px;

  width: 400px;
  margin: 40px;
  background: #fff;;
  border-radius: 0px 20px 20px 20px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}
.comment-field h1 {
    color: var(--pink);
}

/* Section Eight */
#eight {
    padding:60px 0;
    color: var(--yellow);
}

#eight p {
    line-height: 1.8rem;
}
#eight .heading {
    font-size:32px;
}
#eight h1 {
    font-size: 28px;
    color: var(--green);
}

#eight ul {
    list-style-position: inside;
    padding-left: 0px;
}

#eight ul li {
    position: relative;
    font-size:8px;
    padding-bottom: 5px;
}

#eight ul li span {
    font-size:1rem;
    margin-left: -5px;
}


footer {
    background-color: var(--grey);
    color:white;
}

/* main elemens*/
.btn{
    color:#fff!important;
}


/* color scheme */
.fas {
    color: var(--pink);
}  

.pink {
    background-color: var(--pink);
}

.purple {
    background-color: var(--purple);
}



:root {
    --purple: #39003c;
    --green: #01ff83;
    --pink: #fd0057;
    --light-blue: #17eefc;
    --grey: #221f1f;
    --light-grey: #f7f8f9;
    --yellow: #e5d7b0;
}


/* Social Buttons*/
.scl-btn {
    width: 35px;
    height: 35px;
    overflow: hidden;
    padding-top: 8px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    margin:5px;
    color: white;
  }
  /* Hover Effect */
  .scl-btn:hover {
    opacity: 0.8;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  /* Round buttons */
  .scl-crcl {
    border-radius: 50%;
  }
  /* Round Corners */
  .scl-rnd {
      border-radius:5px;
  }
  /* Brand Colors */
  .fa-facebook-f { background: #3B5998; }
  .fa-twitter { background: #55ACEE; }
  .fa-youtube { background: #bb0000; }
  .fa-instagram { background: #125688; }
  .fa-pinterest { background: #cb2027; }

 
